.sectionTitle {
  text-align: center;
  margin-bottom: 50px;
}

.mini {
  color: var(--pink);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}

.heading {
  color: var(--purple);
  font-family: "Playfair Display", serif;
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin-top: 5px;
}

.paragraph {
  max-width: 700px;
  margin: 10px auto 0;
  color: var(--gray);
}
